html {
position: relative;
min-height: 100%;
}

body {
	padding-top:65px;
	margin-bottom: 60px;
	
}

.navbar-inverse {
  background-color: #006655;
    border-color: #006655;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #FFE151;
    color: #006655;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #FFE151;
    color: #006655;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #006655;
}


.navbar-inverse .navbar-toggle {
	background-color: #006655;
    border-color: #fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #FFE151;
    color: #006655;
}


.footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
}

.footer .container-fluid p {
	    margin: 20px 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: #006655;
    border-color: #006655;
    color: #fff;
}

a {
  color: #006655;
  text-decoration: none;
}

a:hover {
  color: #006655;
  text-decoration: underline;
}

/*.navbar-brand {
  background-image: url('morrisonslogo.png');
  background-position: 15px 15px;
  background-size:30px;
  background-repeat: no-repeat;
  padding-left:60px;
}*/

.navbar-logo {
	padding-right:10px;
}

.bg-week td {
    border-left: 1px dashed #ddd;
}

.bank-holiday {
	color: #999;
	cursor:help;
}

/*.table > thead > tr > th, .table > tbody > tr > td {text-align:right;} */

.table th, .table td  { text-align:right; }

/*.table th.table-control, .table td.table-control  { text-align:center; }*/

.table th:first-child, .table td:first-child  { text-align:left; }

/*.table th:last-child, .table td:last-child  { text-align:left; }*/

.regdata-table {max-width:50%;}